.review-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-info-wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &-person-info {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
}
