// colors
$color--link: #1e2836;
$color--button-primary: #171f2c;
$color--nav: #f8f8fa;
$color--icon: #475569;

$color--border-primary: #dedede;

$color--paragraph: #68707a;

$color--background-primary: #cbcff5;
$color--background-secondary: #f8f8fa;

$color--white: #fff;
$color--black: #000;
$color--primary: #29053a;
$color--secondary: #341462;
