.section {
  padding: 10rem 10rem;

  @include respond(tab-port) {
    padding: 5rem 5rem;
  }

  @include respond(phone) {
    padding: 5rem 2rem;
  }

  &-header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/background-dot.png"),
      linear-gradient(
        0deg,
        rgba($color--white, 1),
        rgba($color--background-primary, 1)
      );
    perspective: 1000;
    background-position: 0 0, 0 0;
    background-size: 20px, auto;
    position: relative;

    &-wrapper {
      transform: translateY(-50px);
      width: 60%;
      text-align: center;

      @include respond(tab-port) {
        transform: translateY(0);
        width: 80%;
      }

      @include respond(phone) {
        width: 90%;
      }
    }

    &-links {
      transform: translateY(-50px);
      display: flex;
      gap: 2rem;

      @include respond(tab-port) {
        transform: translateY(0);
      }
    }
  }

  &-logos {
    &-header {
      width: 70%;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 5rem;

      @include respond(tab-port) {
        width: 80%;
      }

      @include respond(tab-port) {
        width: 90%;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5rem;
      justify-content: center;

      & .logo {
        width: 120px;
        height: 50px;
        position: relative;
      }
    }
  }

  &-images-with-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &-features {
    &-header {
      width: 60%;
      text-align: center;
      margin: 5rem auto;
    }

    &-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
    }
  }

  &-pricing {
    &-header {
      width: 60%;
      text-align: center;
      margin: 4rem auto;
    }

    &-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
    }

    &-switcher {
      display: flex;
      border: 1px solid $color--border-primary;
      width: max-content;
      border-radius: 0.6rem;
      margin: 0 auto;
      margin-bottom: 4rem;
      overflow: hidden;

      & > div {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        color: $color--primary;
        transition: all 0.1s linear;
        cursor: pointer;
      }

      & > div.selected {
        background-color: $color--primary;
        color: $color--white;
      }
    }
  }

  &-reviews {
    &-header {
      width: 60%;
      text-align: center;
      margin: 4rem auto;
    }

    &-content {
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      // justify-content: center;
      // gap: 3rem;
      column-count: 3;
      column-gap: 2rem;

      @include respond(tab-port) {
        column-count: 2;
      }

      @include respond(phone) {
        column-count: 1;
      }
    }
  }
}
